<form (ngSubmit)="onSubmit()">
  <mat-form-field>
    <input matInput
      placeholder="Firstname"
      name="first"
      [(ngModel)]="first"
      required
    >
    <mat-error *ngIf="first==''">
      Firstname is <strong>required</strong>
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput
      placeholder="Lastname"
      name="last"
      [(ngModel)]="last"
      required
    >
    <mat-error *ngIf="last==''">
      Lastname is <strong>required</strong>
    </mat-error>
  </mat-form-field>
  <button mat-raised-button type="submit">
    <mat-icon>add</mat-icon>
  </button>
  <button mat-raised-button (click)="resetUser()">
    <mat-icon>undo</mat-icon>
  </button>
</form>
